/* 폰트를 불러오고, 관련 변수를 관리합니다. */
:root {
  --font-light: 300;
  --font-regular: 400;
  --font-medium: 500;
  --font-bold: 700;
}

/* Light */
@font-face {
  font-family: 'SpoqaHanSansNeo';
  src: url('../assets/font/SpoqaHanSansNeo-Light.woff') format('woff');
  font-display: swap;
  font-weight: 300;
}

/* Regular */
@font-face {
  font-family: 'SpoqaHanSansNeo';
  src: url('../assets/font/SpoqaHanSansNeo-Regular.woff') format('woff');
  font-display: swap;
  font-weight: 400;
}

/* Medium */
@font-face {
  font-family: 'SpoqaHanSansNeo';
  src: url('../assets/font/SpoqaHanSansNeo-Medium.woff') format('woff');
  font-display: swap;
  font-weight: 500;
}

/* Bold */
@font-face {
  font-family: 'SpoqaHanSansNeo';
  src: url('../assets/font/SpoqaHanSansNeo-Bold.woff') format('woff');
  font-display: swap;
  font-weight: 700;
}
