/* 색상 관련 변수를 관리합니다. */
:root {
  /* 흰색 */
  --color-white: #ffffff;

  /* 메인 컬러 */
  --color-main: #3280ff;

  /* 텍스트 */
  --color-text: #050064;
  /* 추가 텍스트 */
  --color-text-additional: #43414f;

  /* 입력 */
  --color-input: #a2a9b8;

  /* 기본 박스 */
  --color-box-default: #f9fafb;
  /* 조건 박스 */
  --color-box-conditional: #f5f5f8;
  /* 팝업 박스 */
  --color-box-popup: rgb(255, 255, 255, 0.2);
  /* 신청 정보 박스 */
  --color-box-info: rgb(238, 240, 255, 0.6);
  /* 조회 박스 */
  --color-box-view: #effdfa;
  /* 신청 박스 */
  --color-box-apply: #faf5ff;

  /* 라인 */
  --color-border: #818181;
  /* 배경 */
  --color-background: #f1f5f9;

  /* 조회 */
  --color-action-view: #1c7a72;
  /* 신청 */
  --color-action-apply: #7e22ce;

  /* 버튼-폼 */
  --color-button-form: #6400ff;
  /* 버튼-폼 배경*/
  --color-button-form-bg: #f8f4ff;
  /* 버튼-csv 배경 */
  --color-button-csv-bg: #ecf3ff;

  /* 버튼-활성 */
  --color-active: #05cb45;
  /* 버튼- 활성 배경 */
  --color-active-bg: #effdf4;
  /* 버튼- 비활성 */
  --color-disabled: #959595;
  /* 버튼- 비활성 배경*/
  --color-disabled-bg: #f0f0f0;

  /* 버튼- 종료*/
  --color-exit: #e70000;
}
