.adminLayout {
  --admin-header-height: 64px;

  background-color: var(--color-background);
  height: 100svh;
}

@media (min-width: 768px) {
  .adminLayout {
    --admin-header-height: 80px;
  }
}

@media (min-width: 1024px) {
  .adminLayout {
    --admin-header-height: 100px;
  }
}
