.login {
  width: 100vw;
  min-height: 100svh;
  background-color: #b6cae2; /* 임시 */

  /* 중앙 배치 */
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;

  /* 화면 전체 채움 (가로 스크롤 방지) */
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  display: flex;
  flex-direction: column;
}

.login__logo {
  color: #000;
  font-family: Pretendard;
  font-size: 50px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;

  text-align: center;
  margin-bottom: 12px;
}

.login__title {
  color: #000;
  font-family: Pretendard;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;

  text-align: center;
  margin-bottom: 12px;
}

.login__description {
  color: #000;
  font-family: Pretendard;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;

  text-align: center;
  margin-bottom: 91px;
}

.login__card {
  width: 100%;
  max-width: 579px;
  min-height: 340px;
  border-radius: 10px;
  background: #fff;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.05);

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 40px;
}

.login__guide {
  color: #000;
  font-family: Pretendard;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;

  width: 100%;
  max-width: 455px;
  height: 67px;
  margin-bottom: 17px;
}

.login__google-button {
  color: #000;
  font-family: Pretendard;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;

  width: 100%;
  max-width: 455px;
  height: 67px;
  border-radius: 5px;
  border: 1px solid #e5e7eb;
  box-sizing: border-box;
}
