/* 모바일 - 기본 */
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100px;
  padding: 11px 22px;
  background-color: var(--color-white);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.05);
}

.header-title {
  display: flex;
  align-items: center;
  gap: 15px;
}

.header-title__title {
  color: var(--color-text);
  font-size: 32px;
}

.header-account {
  display: flex;
  gap: 18px;
}

.header-account__info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 5px;
  padding-right: 35px;
}

.header-account__nickname {
  font-size: 16px;
  color: var(--color-text);
}

.header-account__email {
  font-size: 14px;
  color: var(--color-text-additional);
}

/* 태블릿 */
@media (min-width: 768px) {
  .header {
  }
}

/* 데스크탑 */
@media (min-width: 1024px) {
  .header {
  }
}
