/* 전체 배경 컨테이너 */
.user-result {
  width: 100vw;
  min-height: 100svh;
  background-color: #b6cae2;

  /* 중앙 배치 */
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;

  /* 화면 전체 채움 (가로 스크롤 방지) */
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

/* 중앙 흰색 카드 */
.user-result__card {
  width: 100%;
  max-width: 526px;
  border-radius: 20px;
  background: #fbfbfb;

  padding: 40px;
  box-sizing: border-box;
}

/* 페이지 제목 */
.user-result__title__01 {
  color: #000;
  font-family: 'NEXON Lv2 Gothic';
  font-size: 26px;
  font-style: normal;
  font-weight: 400;
  line-height: var(--Static-Headline-Large-Line-Height, 40px);
  letter-spacing: var(--Static-Headline-Large-Tracking, 0);

  text-align: center;
  margin-bottom: 7px;
}

.user-result__title__02 {
  color: #000;
  font-family: 'NEXON Lv2 Gothic';
  font-size: 26px;
  font-style: normal;
  font-weight: 400;
  line-height: var(--Static-Headline-Large-Line-Height, 40px);
  letter-spacing: var(--Static-Headline-Large-Tracking, 0);

  text-align: center;
  margin-bottom: 35px;
}

.user-result__box {
  width: 100%;
  max-width: 445px;
  border-radius: 20px;
  background: #f1f1f1;

  padding: 20px;
  box-sizing: border-box;
}

.user-result__info {
  color: #000;
  font-family: 'NEXON Lv2 Gothic';
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px;

  margin-bottom: 8px;
}

/* 돌아가기 버튼 */
.user-result__button__01 {
  color: #e4f0ff;
  font-family: 'NEXON Lv2 Gothic';
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;

  border-radius: 10px;
  background: #3b82f6;
  display: flex;
  width: 100%;
  max-width: 445px;
  height: 65px;
  padding: 16px 22px;
  justify-content: center;
  align-items: center;
  gap: 10px;

  border: none;
  margin: 32px auto 0;

  transition: background-color 0.2s;
}

.user-result__button__02 {
  margin-top: 60px;
}

/* 버튼 클릭 시 */
.user-result__button__01:active {
  background-color: #e4f0ff;
}
.user-result__button__02:active {
  background-color: #e4f0ff;
}
