name: Front CD
on:
  push:
    branches:
      - main

jobs:
  dispatch:
    runs-on: ubuntu-latest
    environment: 26-1-HS-FE
    steps:
      - name: Send Dispatch to Fork
        run: |
          response=$(curl -X POST \
            "https://api.github.com/repos/Eine0322/26-1_HubSpace_FE/dispatches" \
            -H "Accept: application/vnd.github+json" \
            -H "Authorization: Bearer ${{ secrets.HS_FE_26_1 }}" \
            -H "Content-Type: application/json" \
            -d '{"event_type":"sync"}' \
            -v \
            -w "\n%{http_code}" \
            -s)

          echo "Full Response:"
          echo "$response"
